
@media (prefers-reduced-motion: no-preference) {
  
  
}

.App-header{
  height:80px;
  background-color:darkgreen;
  color:white;
}

.App-header-left{
  float:left;
  font-size:25px;
  margin:auto;
  font-weight:bold;
  padding-left:20px;
}

.App-header-right{
  float:right;
  padding:30px;
}
.makeThreadButton{
  color:white;
  border-radius: 3px;
}

.thread{
  text-align:center;
}
.thread p{
  padding:20px 0px;
  font-size:30px;
}
 
.ThreadList table{
  width:400px;
  margin:0 auto;
}

.ThreadList tr{
  border:solid 1px black;
  text-align:left;
  height:50px;
  font-size:20px;
}

.makeThread-form{
  text-align:center;
}

#fetchData{
  width:400px;
  height:50px;
  margin-top:20px;
}

.form-bottom{
  margin-top:50px;
}

.form-bottom a{
  padding-right:50px;
  font-size:20px;
  color:blue;
}

.form-bottom button{
  background-color:darkgreen;
  width:100px;
  height:50px;
  border-radius: 5px;
  color:white;
  font-size:20px;
}

.backToTop{
  font-size:20px;
  color:blue;
  margin-top:50px;
  border-radius: 3px;
}

.makeThread-form{
  padding-top:30px;
}

.Post{
  margin-left:50px;
}

.PostList ul{
  list-style:none;
}

.PostList li{
  height:50px;
  background-color:white;
  padding:20px;
}

.PostList{
  float:left;
}

.PostList-form{
  float:right;
  margin-top:80px;
}

#postData{
  width:400px;
  height:150px;
  padding:10px;
}

.postButton button{
  margin-top:25px;
  height:50px;
  width:420px;
  background-color: darkgreen;
  color:white;
  border-radius:5px;
}

